<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>



<h1> Hellow World!</h1>

<img src="/static/W.jpg" width="200", height="200">


<ul class="list">
<li class="W">/mine</li>
<li class="W">/chain</li>
<li class="W">/transactions/new ---Needs some changes to make it possible to do it over browser but you can use</br>
    your terminal with the command</br>
    curl -X POST -H "Content-Type: application/json" -d '{
        "sender": "BLEND BOND",
        "recipient": "DOMINIK KAUKASUS",
        "amount": 5
    }' "http://95.179.188.56:5000/transactions/new</li>
<li class="W">/nodes/resolve</li>
<li class="W">/nodes/register</li>
</ul>

