<head>
  <link rel="stylesheet" href="styles.css">
</head>



<h1> Hellow World!</h1>




<ul class="TickList">
<li>/mine</li>
<li>/chain</li>
<li>/transactions/new ---Needs some changes to make it possible to do it over browser but you can use</br>
    your terminal with the command</br>
    curl -X POST -H "Content-Type: application/json" -d '{
        "sender": "BLEND BOND",
        "recipient": "DOMINIK KAUKASUS",
        "amount": 5
    }' "http://95.179.188.56:5000/transactions/new</li>
<li>/nodes/resolve</li>
<li>/nodes/register</li>
</ul>

